name: CI

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  actions: read
  contents: read

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          filter: tree:0
          fetch-depth: 0

      - uses: actions/setup-node@v6
        with:
          node-version: 20
          cache: 'npm'

      - run: npm ci

      - name: Generate Prisma Client
        run: npx prisma generate --schema=./libs/shared/data-access/prisma/schema.prisma

      - run: npx nx run-many -t lint test build typecheck
      
      - run: npx nx fix-ci
        if: always()